.floatRight{float:left; border-style: solid; border-color: black;}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;

  }



 


#navigation_li {
    display: block;
    width: 60px;
    background-color: #dddddd;
  }

  #navigation_li:hover {
   /* background-color: #555; */
    color: white;
  }


  .navbar {
    overflow: hidden;
   
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  /* Nur Dropdown titel in liste */

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
  background-color: #222222;
    font-family: inherit;
    margin: 0;
  }
  







  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
/* Dropdown background*/

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* Schrift in DropdownMenu */

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  
  .navbar a.active {

background-color: black;
color:white;
  }
    

/*->*/


:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #0c151c;
  --button-hover: #040a0f;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}




html {
  scrollbar-color: #040a0f #202b38;
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
}


@media (prefers-color-scheme: dark) {

  html {
  scrollbar-color: #040a0f #202b38;
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  }
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: #363636;
  color: var(--text-main);
  background: #202b38;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}


@media (prefers-color-scheme: dark) {

  body {
  color: #dbdbdb;
  color: var(--text-main);
  }
}

button {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}


 input {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}




  textarea {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
  }




h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th 
{
  margin-bottom: 12px;
  margin-top: 24px;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
  margin-top: 0;
  color: #fff;
  color: var(--text-bright);
}

h2 {
  color: #fff;
  color: var(--text-bright);
}


h3 {
  color: #fff;
  color: var(--text-bright);
 }


  h4 {
  color: #fff;
  color: var(--text-bright);
  }



  h5 {
  color: #fff;
  color: var(--text-bright);
  }


  h6 {
  color: #fff;
  color: var(--text-bright);
  }



  strong {
  color: #fff;
  color: var(--text-bright);
  }


h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}



blockquote {
  border-left: 4px solid #0096bfab;
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
}


q {
  border-left: 4px solid #0096bfab;
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
}



blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

/*Icons für bestimmte Elemente*/
a[href^='mailto\:']::before {
  content: '📧 ';
}

a[href^='tel\:']::before {
  content: '📞 ';
}

a[href^='sms\:']::before {
  content: '💬 ';
}

mark {
  background-color: #efdb43;
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0 2px 0 2px;
  color: #000;
}


a > code,
a > strong {
  color: inherit;
}

button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range']{
  cursor: pointer;
}

input,
select {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  display: initial;
}

input {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}



button {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}



textarea {
    color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}



button {
  background-color: #0c151c;
  background-color: var(--button-base);
  padding-right: 30px;
  padding-left: 30px;
}



input[type='submit'] {
  background-color: #d0cfcf;
  background-color: var(--button-base);
  padding-right: 30px;
  padding-left: 30px;
}

@media (prefers-color-scheme: dark) {

  input[type='submit'] {
  background-color: #0c151c;
  background-color: var(--button-base);
  }
}

input[type='reset'] {
  background-color: #d0cfcf;
  background-color: var(--button-base);
  padding-right: 30px;
  padding-left: 30px;
}

@media (prefers-color-scheme: dark) {

  input[type='reset'] {
  background-color: #0c151c;
  background-color: var(--button-base);
  }
}

input[type='button'] {
  background-color: #d0cfcf;
  background-color: var(--button-base);
  padding-right: 30px;
  padding-left: 30px;
}

@media (prefers-color-scheme: dark) {

  input[type='button'] {
  background-color: #0c151c;
  background-color: var(--button-base);
  }
}

button:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {

  button:hover {
  background: #040a0f;
  background: var(--button-hover);
  }
}

input[type='submit']:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {

  input[type='submit']:hover {
  background: #040a0f;
  background: var(--button-hover);
  }
}

input[type='reset']:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {

  input[type='reset']:hover {
  background: #040a0f;
  background: var(--button-hover);
  }
}

input[type='button']:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {

  input[type='button']:hover {
  background: #040a0f;
  background: var(--button-hover);
  }
}

input[type='color'] {
  min-height: 2rem;
  padding: 8px;
  cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
  height: 1em;
  width: 1em;
}

input[type='radio'] {
  border-radius: 100%;
}

input {
  vertical-align: top;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
  resize: vertical;
}

textarea:not([cols]) {
  width: 100%;
}

textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}


input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


legend {
  font-size: 0.9em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #41adff;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

code {
  background: #161f27;
  background: var(--background);
  color: #ffbe85;
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}


img,
video {
  max-width: 100%;
  height: auto;
}


  hr {
  border-top: 1px solid #526980;
  border-top: 1px solid var(--border);
  }

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}


footer {
  border-top: 1px solid #526980;
  border-top: 1px solid var(--border);
  padding-top: 10px;
  color: #a9b1ba;
  color: var(--text-muted);
}


body > footer {
  margin-top: 40px;
}

@media print {
  body,
  pre,
  code,
  summary,
  details,
  button,
  input,
  textarea {
    background-color: #fff;
  }

  button,
  input,
  textarea {
    border: 1px solid #000;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  button,
  input,
  textarea,
  footer,
  summary,
  strong {
    color: #000;
  }

  summary::marker {
    color: #000;
  }

  summary::-webkit-details-marker {
    color: #000;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: #00f;
    text-decoration: underline;
  }
}

